<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <table>
             
        </table>
        <input v-model="name">
        <input v-model="price">
        <input v-model="quantity">
        <button v-on:click="addProduct(name, price, quantity, price * quantity)">Add product</button>
        <p>Общая сумма {{ total }}</p>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
<script src="script.js"></script>

</html>