<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-for="(value,index) in questions">
            <template v-if="value.showQuestion">
                <p>{{value.question}}</p>
                <p v-for="(answer, indexAnswer) in value.answers"><input type="checkbox" :value="indexAnswer" v-model="value.userAnswers">{{answer}}</p>
                <a href="#" v-if="value.showLink" @click="toNextQuestion(index)">Следующий вопрос</a>
                <a href="#" v-if="!value.showLink" @click.once="showResult(index)">Показать результат</a>
            </template>
        </div>  
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
<script src="script.js"></script>

</html>