.colgreen {
    color: green;
}

.colred {
    color: red;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.active {
    background: blue;
}

.decorated {
    text-decoration: line-through;
}