.colgreen {
    color: green;
}

.colred {
    color: red;
}

td {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.completeTask {
    text-decoration: line-through;
    color: gray;
}

img {
    width: 15px;
    height: 15px;
}