.colgreen {
    background-color: green;
}

.colred {
    background-color: red;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.decoration {
    text-decoration: line-through;
}