.colgreen {
    background-color: green;
}

.colred {
    background-color: red;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.active {
    background: red;
}

.hidden {
    display: none;
}

.color1 {
    background: red;
}

.color2 {
    background: green;
}